*{
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #f8f6f4;
}

h1{
    margin-top: 5.5rem;
    text-align: center;
    color: #9c776e;
    font-family: 'Libre Baskerville', sans-serif;
	font-weight: lighter;
    padding: 0.5rem;
    padding-top: 100px;
}

.form{
    width: 40%;
    height: auto;
    background-color: #ffffff;
    margin: auto;
    border-radius: 6px;
    padding: 2%;
    margin-bottom: 100px;
    
    
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form form h2{
    width: 100%;
    color: #9c776e;
    font-family: 'Libre Baskerville', sans-serif;
	font-weight: lighter;
    text-align: justify;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 5%;
}

.input{
    margin: auto;
    width: 75%;
}

/*.input label{
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 1%;
}*/

.input input{
    justify-content: center;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 110%;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 5%;
    padding: 10px;
    border: 1px solid #262626;
    color: #262626;

    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}
.input .msj{
    height: 5rem;
}

.input .env{
    float: left;
    text-align: center;
    width: 100%;
    background-color: #262626;
    border: none;
    padding: 10px;
    color: #ffffff;
    margin: 2% 0%;
    font-size: larger;

}

/*.input .env:hover{
    color: #ffffff;
    background-color: #414141;
}
*/

/* Div de las redes sociales*/
.cont{
    background: #262626;
    margin: 4% 0%;
    width: 100vw;
    height: 14rem;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
    padding: auto;
    margin-bottom: 0;
}

.cont h2{
    text-align: justify;
    color: #9c776e;
    font-family: 'Libre Baskerville', sans-serif;
	font-weight: lighter;
    padding: 2% 1% 0% 3%;
}

.redes2{
    display: flex;
    flex-direction: row;
    width: inherit;
    margin-left: auto;
}

.red, .red a{
    background-color: inherit;
    width: 22%;
    height: auto;
    margin: auto;
    padding: 1%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.red a{
    width: 100%;
    text-decoration: none;
}

.red i, .red a i {
    color: #ffffff;
    width: 40%;
    height: auto;
    font-size: 5em;
    text-align: center;
}

.cont-1, a .cont-1{
    margin-left: 2% auto;
}

.cont-1 h3, a .cont-1 h3{
    color: #9c776e;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 90%;
	font-weight: bolder;
    letter-spacing: 2px;
    padding: 5% 0%;
}

.cont-1 p{
    width: 7rem;
    margin: 3% 0%;
    margin-left: 0;
    text-align: justify;
    color: #ffffff;
    font-size: 110%;
}