*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
}

.title{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    font-family: 'Libre Baskerville', sans-serif;
    color: #9c776e; 
}

img[alt="foto del creador"]{
    width: 160px;
    height: 150px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    margin-bottom: 30px;
}

section.conteiner{
    display: flex;
}

.a{
    margin-left: 10%;
}

.b{
    margin-left: 20%;
    margin-top: 60px;
}

div.cr1,div.cr2,div.cr3,div.cr4,div.cr5{
    width: 300px;
    margin-left: 20px;
    margin-right: -20px;
    text-align: center;
    padding-bottom: 10%;
    display: flex;
}

.conteiner h2, .conteiner p{
    margin-left: 20px;
    margin-right: -90px;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
}

.conteiner p{
    margin-top: 10px;   
}

@media screen and (max-width:990px) {
    section.conteiner{
        display: block;
        margin-left: 30%;
    }

    img[alt="foto del creador"]{
        width: 100%;
        height: 100%;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
        margin-bottom: 30px;
    }

    .title{
        padding-top: 100px;
        padding-bottom: 5%;
    }

    div.cr1,div.cr2,div.cr3,div.cr4,div.cr5{
        display: block;
    }
    .a,.b{
        margin: 0;
    }

    .conteiner h2, .conteiner p{
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
}

@media screen and (max-width:690px) {
    section.conteiner{
        padding-top: 100px;
        display: block;
        margin-left: 20%;
        
    }


    img[alt="foto del creador"]{
         width: 40%;
         height: 40%;
    }
}

@media screen and (max-width:440px) {
    section.conteiner{
        padding-top: 100px;
        display: block;
        margin-left: 0;
    }
}