*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Libre Baskerville', sans-serif;
}


.title{
    padding-top: 9%;
    text-align: center;
    padding-bottom: 10%;
    font-family:'Libre Baskerville', sans-serif;
    color: #9c776e;
}
/* CSS de imagenes*/
img[alt="foto del album"]{
    width: 300px;
    height: 400px;
}

.a{
    display: flex;
}

a{
    text-decoration: none;
}


/*CSS para el div disc1*/
.disc1{
    background-color: #000;
    margin-left: 9%;
    margin-right: 69%;
    text-align: center;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0, 0, 0);
    margin-bottom: 45px;
}

.disc1 h3{
    background-color: darkred;
    margin-top: 15px;
    margin-bottom: -90px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #fff;
    font-weight: bold;
    margin-left: -20px;
    margin-right: -20px;
}

.disc1 p{
    margin-top: 15px;
    font-size: 15px;
    margin-bottom: 15px;
    text-align: justify;
}

.disc1 .nom{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* CSS para el div disc2*/

.disc2{
    background-color: #000;
    margin-left: -40%;
    margin-right: 69%;
    text-align: center;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0, 0, 0);
    margin-bottom: 45px;
}



.disc2 h3{
    background-color: darkred;
    margin-top: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-weight: bold;
    margin-left: -20px;
    margin-right: -20px;
}

.disc2 p{
    margin-top: 15px;
    font-size: 15px;
    text-align: justify;
}

.disc2 .nom{
    padding-top: 10px;
    padding-bottom: 10px;
}
/*CSS para que se muestren horizontales*/
.b{
    display: flex;
}

/*CSS para el div disc3*/
.disc3{
    background-color: #000;
    margin-left: 9%;
    margin-right: 69%;
    text-align: center;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0, 0, 0);
    margin-bottom: 45px;
}

.disc3 h3{
    background-color: darkred;
    margin-top: 15px;
    margin-bottom: -90px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-weight: bold;
    margin-left: -20px;
    margin-right: -20px;
}

.disc3 p{
    margin-top: 15px;
    font-size: 15px;
    text-align: justify;
}

.disc3 .nom{
    padding-top: 10px;
    padding-bottom: 10px;
}
/*CSS para el div disc4*/

.disc4{
    background-color: #000;
    margin-left: -40%;
    margin-right: 69%;
    text-align: center;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0, 0, 0);
    margin-bottom: 45px;
}



.disc4 h3{
    background-color: darkred;
    margin-top: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-weight: bold;
    margin-left: -20px;
    margin-right: -20px;
}

.disc4 p{
    margin-top: 15px;
    font-size: 15px;
    text-align: justify;
}

.disc4 .nom{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*CSS para el div disc5*/
.disc5{
    background-color: #000;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    margin-left: 33%;
    margin-right: 36%;
    box-shadow: 0 0 30px 0 rgb(0, 0, 0);
    margin-bottom: 45px;
}



.disc5 h3{
    background-color: darkred;
    margin-top: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-weight: bold;
}

.disc5 p{
    margin-top: 15px;
    font-size: 15px;
    text-align: justify;
    width: 90%;
    margin-left: 20px;
}

.disc5 .nom{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Responsive*/

@media screen and (max-width:900px) {
.title{
    padding-top: 100px;
}

    .conteiner{
        text-align: center;
    }

    .a,.b{
        display: block;
        margin: 0;
    }

    /*divs disc*/
    .disc1,.disc2,.disc3,.disc4,.disc5{
        background-color: #000;
        text-align: center;
        color: #fff;
        width: 50%;
        border-radius: 10px;
        margin-left: 25%;
        margin-right: 35%;
        box-shadow: 0 0 16px 0 rgb(0, 0, 0);
    }

    .disc2,.disc4{
        margin-top: 150px;
    }

    .disc5{
        width: 55%;
    }
    
    .disc1 h3,.disc2 h3,.disc3 h3,.disc4 h3,.disc5 h3{
        background-color: darkred;
        margin-top: 15px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #fff;
        font-weight: bold;
    }
    
    .disc1 p,.disc2 p,.disc3 p,.disc4 p,.disc5 p{
        margin-top: 15px;
        font-size: 15px;
    }
    
    .disc1 .nom,.disc2 .nom,.disc3 .nom,.disc4 .nom,.disc5 .nom{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    img[alt="foto del album"]{
        width: 70%;
        height: 70%;
    }
}

@media screen and (max-width:680px) {
    .disc1,.disc5,.disc2,.disc3,.disc4{
        width: 60%;
    }
    .disc5 p{
        margin-left: 10px;
    }
}