*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family:'Libre Baskerville', sans-serif;
}



nav{
position: fixed;
text-decoration: none;
list-style: none;
background: rgba(23,23,23,255);	
height: 80px;
width: 100%;
top: 0;
z-index: 10;
}

.logo{
position: absolute;
padding: 20px 50px;
text-decoration: none;
list-style: none;
color: #9c776e;
font-size: 28px;
font-family: 'Libre Baskerville', sans-serif;
 font-weight: lighter;
}

nav ul{

float: right;
margin-right: 20px;
z-index: 11;
}

nav ul li{
display: inline-block;
line-height: 80px;
margin: 0 5px;
}

nav ul li a{
font-family: 'Josefin Sans', sans-serif;
text-decoration: none;
list-style: none;
color: white;
text-transform: uppercase;
font-size: 12px;
padding: 7px 13px;
}

nav ul li a:hover{
	color: #9c776e;
}


.boton{
font-size: 25px;
color: white;
z-index: 11;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}

#check{
display: none;
}



.contenedor{
padding: 60px 0;
width: 90%;
max-width: 1200px;
margin: auto;
overflow: hidden;
}

@media (max-width: 1200px){
	.logo{
		font-size: 25px;
		padding: 30px 50px;
	}
	nav ul li a{
		font-size: 10px;
	}
}

@media (max-width: 980px){

	.logo{
		font-size: 28px;

	}

	.boton{
		display: block;
		line-height: 80px;
		font-size: 20px;
	}

	nav{
		height: 80px;
	}

	ul{
		position: fixed;
		width: 100%;
		height: calc(100% - 80px);
		background: black;
		top: 80px;
		left: -100%;
		transition: all 0.5s;
	}

	nav ul li{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 45px 0;
		line-height: 30px;
	}

	nav ul li a{
		font-size: 18px;
	}

	#check:checked ~ ul{
		left: 0;
	}
}