*{
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}


h1, h2, .inf h3{
    color: #9c776e;
    font-family: 'Libre Baskerville', sans-serif;
	font-weight: lighter;
}

h1{
    margin-top: 7rem;
    font-size: 2rem;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

#tl{
    margin: 1rem 0 0 7rem;
    font-size: 2.5rem;
}


.noticias{
    display: flex;
    flex-direction: row-reverse;
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
 
}

.noticias .notis div{
    display: flex;
    flex-direction: row;
    width: 80%; 
    height: auto;
    margin: 1em auto;
    padding: 2% 0;
    justify-content: center;
    align-items: center;
    background-color: #f8f6f4;
}

.noticias .notis div img{
    width: 33%;
    margin: 1% 1%;
}

.noticias .notis .inf{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 20vw;
    margin-left: 0.5rem;
    align-items: initial;
}

.noticias .notis div .inf h3{
    font-size: 1.6rem;
    font-weight: bold;
    padding: 2% 1%;
}   

.noticias .notis div .inf h5{
    font-size: 1.4rem;  
    text-align: right;
    padding: 2% 1%;
}
.noticias .notis div .inf p{
    font-size: 1.25rem;
}

.noticias .notis div .inf p a{
    color: #9c776e;
}

.noticias .notis div .inf p a:hover{
    color: black;
}

/*aside*/
.noticias .asid{
    width: 38%;
    margin: 2% 0;
    padding: auto;
}
.noticias .asid aside div h3{
    padding: 2% 0;
    color:#9c776e;
    font-size: 130%;
    text-transform: uppercase;
}

.noticias .asid aside div iframe{
    margin: 0;
    margin: 1%;
    padding: 2% 0;
}

.noticias .asid aside div a{
    list-style: none;
    display: block;
    height: 60px;
    margin: 1%;
}

.noticias .asid aside div a{
    color: black;
    text-decoration: none;
    font-size: 100%;
}

.noticias .asid aside div a:hover{
    text-decoration: underline;
    font-size: larger;
}

/*Responsive*/
@media screen and (max-width: 1400px) {

    
    .noticias{
        display: flex;
        flex-direction: column-reverse;
        width: 99%;   
        font-size: 18px;  
    }
    .noticias .notis div{
        display: flex;
        flex-direction: row;
        width: 100%; 
        height: auto;
        margin: 1em auto;
        padding: 7% 0;
        justify-content: center;
        align-items: center;
        background-color: #f8f6f4;
    }

    .noticias .notis div .inf p{
        font-size: 1.05rem;
    }

    .noticias .asid aside div a{
        list-style: none;
        display: block;
        height: 60px;
        margin: 1%;
    }
    
}

@media screen and (max-width: 900px){
    .noticias .notis div{
        height: 500px;
        margin: 1em auto;
        padding: 10% 0;
        justify-content: center;
        align-items: center;
        background-color: #f6f4f8;
    }

    .noticias .asid aside div a{
        list-style: none;
        display: block;
        height: 60px;
        margin: 1%;
    }
    
}